body {
    padding: 10px;
    margin:0px;
    background-color: beige;
}

h1{
    text-align: center;
    background-color: rgb(236, 170, 89);

}

main {
    margin-top: 30px;
}

header {
    margin-top: 5px;
    vertical-align: middle;
    width:auto ;
    height: fit-content;   
}


article {
    width: 191px;
    height: 191px; 
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
}  

.imagem1 {
    width: 200px;
    height: 200px; 
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
    
} 

.imagem2 {
    width: 300px;
    height: 400px;
    margin-right: 5%;
    margin-left: 5%;
}

p.setfont {
    font-variant: small-caps;

}

.floated-right {
    float: right;
}

.floated-left{
    float:left; 
}

.clear-both{
    clear:both;
}

